@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
    --primary-color: #a855f7;
    --primary-color-dark: #9333ea;
    --secondary-color: #ca8a04;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light: #faf5ff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 99;
}

.nav__content {
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: 0.3s;
}

nav .logo a:hover {
    color: var(--primary-color-dark);
}

nav .checkbox {
    display: none;
}

nav input {
    display: none;
}

nav .checkbox i {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}

ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}

ul li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-dark);
    transition: 0.3s;
}

ul li a:hover {
    border-top-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
    color: var(--secondary-color);
}


.section {
    width: 100%;
    background-color: var(--extra-light);
}

.section__container {
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

.subtitle {
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.title span {
    font-weight: 600;
}

.description {
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 2rem;
}

.action__btns {
    display: flex;
    gap: 1rem;
}

.action__btns button {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    transition: 0.3s;
    cursor: pointer;
}

.hire__me {
    background-color: var(--primary-color);
    color: #ffffff;
}

.hire__me:hover {
    background-color: var(--primary-color-dark);
}

.portfolio {
    color: var(--primary-color);
}

.portfolio:hover {
    background-color: var(--primary-color-dark);
    color: #ffffff;
}

.image {
    display: grid;
    place-items: center;
    position: relative;
}

.image img {
    width: min(25rem, 80%);
    z-index: 2;
}

.square {
    width: min(25rem, 80%);
    height: min(22rem, 80%);
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
}

.img-quote {
    width: 80%;
    position: absolute;
    top: 62%;
    left: -5%;
    z-index: 3;
    background-color: cornflowerblue;
    padding: 1.5rem;
    color: white;
}

.icons {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.svg-icon {
    width: 5rem;
    height: 5rem;
}

.cards-numbers__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    border-radius: 10px;
    background-color: var(--extra-light);
}

.cards-numbers .card p {
    color: #6b7280;
    text-align: center;
    width: 80%;
}


.third-section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr 2fr;
    gap: 1rem;
}

.third-section__container .text-header {
    grid-column: 1/4;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third-section__container h2 {
    font-weight: 600;
    color: var(--text-dark);
    margin-bottom: 1rem;
    text-align: center;
}

.cards-third-section {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    display: grid;
    gap: 6rem;
    padding: 1rem;
    grid-template-columns: repeat(3, 1fr);
}


.cards-third-section .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cards-third-section .card p {
    color: #6b7280;
    width: 80%;
}

.fourth-section {
    background-color: aliceblue;
}

.fourth-section .section__container {
    min-height: 100%;
    padding: 4rem;
}

.fourth-section h2 {
    margin-bottom: 1rem;
}

.fourth-section button {
    margin: 1rem 0;
}

.fourth-section ul {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fifth-section {
    background-color: white;
}


.fifth-section .section__container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin: 2rem auto 5rem auto;
}

.round-image img {
    width: 8rem;
    height: auto;
    border-radius: 50%;
}

.top-description, .bottom-description {
    text-align: center;
}

.footer-section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem;
}

.cards-footer .text-header {
    text-align: center;
}

.cards-footer-section {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.cards-footer-section .card {
    cursor: pointer;
    background-color: #fff;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 0;

}

.cards-footer-section .card > p {
    color: #6b7280;
    width: 80%;
    font-size: 0.8rem;
}


@media (width < 750px) {
    nav .checkbox {
        display: block;
    }

    ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -100%;
        top: 85px;
        background-color: var(--extra-light);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }

    nav #check:checked ~ ul {
        left: 0;
    }

    ul li a {
        font-size: 1.25rem;
    }

    .section__container {
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .image {
        grid-area: 1/1/2/2;
        margin-bottom: 3rem;
    }

    .action__btns {
        margin: auto;
    }

    .icons {
        flex-direction: column;
        justify-content: center;
    }

    .img-quote {
        top: 62%;
        left: 0;
    }

    .cards-numbers__container {
        gap: 0.5rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .cards-third-section {
        margin-left: 4rem;
    }

    .cards-third-section {
        gap: 0.5rem;
        grid-template-columns: repeat(1, 1fr);
    }

    .third-section__container h2 {
        width: 80%;
    }

}
